.version.index /* version checker */
{
	color: #0000E3;
	background-color: #F7B595;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 575px;
	min-height: 388.9499999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 100px 185px 67.05000000000013px 200px;
}

#pu75
{
	width: 0.01px;
}

#u75
{
	z-index: 2;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu83-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 30px;
	margin-left: 138px;
}

#u83-4
{
	z-index: 4;
	width: 421px;
	min-height: 30px;
	background-color: transparent;
	font-size: 25px;
	line-height: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#pu85
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 14px;
}

#u85
{
	z-index: 8;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u119
{
	z-index: 18;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 66px;
}

#u100
{
	z-index: 10;
	width: 66px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 222px;
}

#u100_img
{
	padding-bottom: 2px;
}

#u106
{
	z-index: 12;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u112-4
{
	z-index: 14;
	width: 574px;
	min-height: 87px;
	background-color: transparent;
	line-height: 22px;
	text-align: justify;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#u125-4
{
	z-index: 20;
	width: 574px;
	min-height: 87px;
	background-color: transparent;
	line-height: 22px;
	text-align: justify;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#u140
{
	z-index: 24;
	width: 408px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 84px;
	margin-top: 20px;
	position: relative;
}

#u127
{
	z-index: 29;
	width: 88px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u126-4
{
	z-index: 25;
	width: 307px;
	min-height: 23px;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 101px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 109px;
}

#page .verticalspacer
{
	clear: both;
}

